@model iBiblioteca.DATA.Models.Vwlivro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vwlivro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEditora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEditora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCapa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeConhecido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeConhecido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
