@model IEnumerable<iBiblioteca.DATA.Models.Tblivro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutor1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCapaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdColecaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEditoraNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutor1.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCapaNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdColecaoNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEditoraNavigation.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
